@import '../abstracts/colors.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.auth-form {
  @include flex(column, flex-start, stretch);
  gap: $spacing-4;
  
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    @include text-gradient;
  }
  
  &__subtitle {
    color: $text-secondary;
    text-align: center;
    margin: 0;
  }
  
  &__error {
    background: rgba($color-danger, 0.1);
    color: $color-danger;
    padding: $spacing-3;
    border-radius: $radius-md;
    font-size: 1rem;
    text-align: center;
  }
  
  &__form {
    @include flex(column, flex-start, stretch);
    gap: $spacing-4;
  }
  
  &__footer {
    @include flex(column, center, center);
    gap: $spacing-2;
    padding-top: $spacing-4;
    border-top: 1px solid rgba($text-primary, 0.1);
    text-align: center;
    
    p {
      color: $text-secondary;
      margin: 0;
    }
  }
}