@use '../abstracts' as *;

.game-card {
  background: $bg-light;
  height: 100%;
  
  &__rating {
    background: rgba($bg-darker, 0.9);
    padding: $spacing-2 $spacing-3;
    border-radius: $radius-full;
    font-size: 1rem;
    font-weight: 500;
    // color: $color-accent;
  }
  
  &__genres {
    @include flex(row, flex-start, center);
    gap: $spacing-2;
    margin-bottom: $spacing-2;
  }
  
  &__genre {
    background: rgba($color-primary, 0.1);
    color: $color-primary;
    padding: $spacing-1 $spacing-2;
    border-radius: $radius-full;
    font-size: 0.75rem;
    font-weight:500;
  }
  
  &__title {
    font-size: $text-lg;
    font-weight:700;
    margin: 0 0 $spacing-2;
    color: $text-primary;
  }
  
  &__description {
    font-size:1rem;
    color: $text-secondary;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  &__actions {
    @include flex(row, space-between, center);
  }
  
  &__price {
    font-size: $text-lg;
    font-weight: 700;
    // color: $color-accent;
  }
  
  &__buttons {
    @include flex(row, flex-end, center);
    gap: $spacing-2;
  }
}