@use '../abstracts' as *;

.hero {
  position: relative;
  width: 100%;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-12 $spacing-4;
  overflow: hidden;
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      rgba($bg-darker, 0.8),
      rgba($bg-darker, 0.6)
    );
    z-index: 1;
  }
  
  &__content {
    position: relative;
    z-index: 2;
    max-width: $container-lg;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include flex(column, center, center);
    gap: $spacing-6;
  }
  
  &__title {
    @include heading('xl');
    color: $text-primary;
    @include text-gradient;
    margin: 0;
    
    @include responsive('md') {
      font-size: $text-4xl;
    }
  }
  
  &__subtitle {
    color: $text-secondary;
    font-size: $text-lg;
    max-width: 600px;
    margin: 0;
    
    @include responsive('md') {
      font-size: 1.25rem;
    }
  }
  
  &__cta {
    margin-top: $spacing-4;
  }
}