@import '../abstracts/colors.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';
@import '../abstracts/typography.scss';

.home-root {
  width: 100%;
  min-height: 100vh;
  background: $bg-dark;
}

.home-features {
  padding: $spacing-16 0;
  
  .container {
    max-width: $container-xl;
    margin: 0 auto;
    padding: 0 $spacing-4;
  }

  &__heading {
    color: $text-primary;
    font-size: $text-3xl;
    font-weight:700;
    text-align: center;
    margin-bottom: $spacing-12;
    @include text-gradient;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-6;
    
    @include responsive('md') {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include responsive('lg') {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}