@use 'sass:color';
@use './abstracts' as *;

// Component styles
@use './components/Auth';
@use './components/Button';
@use './components/Card';
@use './components/FeatureCard';
@use './components/GameCard';
@use './components/Hero';
@use './components/Home';
@use './components/Input';
@use './components/Modal';
@use './components/Navigation';
@use './components/PaymentForm';